{% extends 'base.html.twig' %}

{% block title %}Hello SocketController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/src/Controller/SocketController.php'|file_link(0) }}">src/Controller/SocketController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/templates/socket/index.html.twig'|file_link(0) }}">templates/socket/index.html.twig</a></code></li>
    </ul>
</div>
    <h1>Public chat</h1>
    <ul id="chat-list"></ul>
    <hr>
    <textarea id="form-message" placeholder="Your public message here"></textarea>
    <input type="text" id="form-room" placeholder="Enter room name"/>
    <input type="button" id="form-submit" value="Send message"/>
    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const room = urlParams.get('room')
        console.log(room)
        var clientInformation = {
            username: new Date().getTime().toString()
        };

        var conn = new WebSocket(`ws://127.0.0.1:8081?room=${room}`); // Default room

        conn.onopen = function(e) {
            console.info("Connection established successfully");
        };

        conn.onmessage = function(e) {
            var data = JSON.parse(e.data);
            Chat.appendMessage(data.username, data.message);

            console.log(data);
        };

        conn.onerror = function(e) {
            alert("Error: something went wrong with the socket.");
            console.error(e);
        };

        document.getElementById("form-submit").addEventListener("click", function() {
            var msg = document.getElementById("form-message").value;
            var room = document.getElementById("form-room").value; // Get room name from input

            if (!msg) {
                alert("Please send something on the chat");
                return;
            }

            if (!room) {
                alert("Please enter a room name");
                return;
            }

            // Send message with room information
            Chat.sendMessage(msg, room);
            document.getElementById("form-message").value = "";
        }, false);

        var Chat = {
            appendMessage: function(username, message) {
                var from = username === clientInformation.username ? "me" : username;

                var ul = document.getElementById("chat-list");
                var li = document.createElement("li");
                li.appendChild(document.createTextNode(from + " : " + message));
                ul.appendChild(li);
            },
            sendMessage: function(text, room) {
                clientInformation.message = text;
                clientInformation.room = room; // Include room information
                conn.send(JSON.stringify(clientInformation));
                this.appendMessage(clientInformation.username, clientInformation.message);
            }
        };
    </script>

{% endblock %}
