<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Quittance de loyer</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .header {
            width: 100%;

        }
        .left {
            display: block;
            float: left ;
            position: relative;
            left: 0;
            margin-bottom: 20px;
        }
        .right {
            display: block;
            float: left ;
            position: relative;
            right: 0;


        }
        .center {
            display: block;
            text-align: center;
            margin-bottom: 20px;
        }
        .content {
            margin: 0 auto;
            width: 80%;
        }
        .details {
            margin-top: 20px;
        }
        .details table {
            width: 100%;
            border-collapse: collapse;
        }
        .details th, .details td {
            border: 1px solid #000;
            padding: 5px;
        }
        .footer{
            float: right;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="left">
        <p>Bailleur : Jacques Malinvaud</p>
    </div>
    <div class="right">
        <p>Locataire : carlos Vieira Nkulu</p>
        <p>7 rue de merignac</p>
    </div>
</div>
<div class="center">
    <h1>Quittance de loyer</h1>
    <p>{{ "now"|date("F Y") }}</p>
</div>
<div class="content">
    <p>Reçu de Carlos Vieira Nkulu la somme de 700 € le {{ "now"|date("d/m/Y") }}</p>
    <p>Pour loyer et accessoires des locaux sis : 7 rue de merignac Période : {{ "now"|date("F Y") }}</p>
    <div class="details">
        <table>
            <tr>
                <th>Détail</th>
                <th>Montant</th>
            </tr>
            <tr>
                <td>Loyer nu</td>
                <td>700 €</td>
            </tr>
            <tr>
                <td>Charges</td>
                <td>0,00 €</td>
            </tr>

        </table>
        <div class="footer">
            <p>Fait à La Rochelle le {{ "now"|date("d m Y") }}</p>
            <p>Signé par Jacque Malivaud </p>
        </div>
    </div>
</div>
</body>
</html>